/*------------------------------------*\
	MAIN
\*------------------------------------*/
.skyBlue {
	color: #204a87;
}

.scarletRed {
	color: #a40000;
}

.chameleon {
	color: #4e9a06;
}

.orange {
	color: #ce5c00;
}

.debug {
  border: solid 1px red;
}

.footer {
  background-color: #2e3436;
	color: #eeeeec;
  margin-top : 2em;
  padding-bottom : 2em;
  padding-top : 2em;
}

.footer h1 {
  font-size: 1.2em;
  font-weight: bold;
}

.footer i{
  background-color: #555753;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer a{
	color: #eeeeec;
}

.contact i{
  background-color: #eeeeec;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

@font-face {
  font-family: "Linux Biolinum";
  src: url('fonts/LinBiolinum_RB.woff') format('woff');
}

body {
  font-family: 'Linux Biolinum';
}

.text-justify {
  -moz-hyphens: auto;
  text-align: justify;
  word-wrap: break-word;
}

.big-fa {
  background-color: #eee;
  height: 200px;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
}

/*------------------------------------*\
	IMAGES
\*------------------------------------*/
#logo,
#logo img {
	width:313px; /* Width of your logo (ideally a round grid-number) */
	height:140px; /* Height of your logo */
}
#logo img{
  opacity:0;
}
#logo{
	background:url('/img/logo_bg.png');
	margin-bottom:1.5em;
}
#logo:hover{
	background-position:0 -140px;
}


/*------------------------------------*\
	NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/

@media (min-width: 721px) and (max-width: 959px){

}

/*--- END NARROW ---*/


/*------------------------------------*\
	MOBILE
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/

@media (max-width: 720px){
html{
	font-size:1em;
}
}

/*--- END MOBILE ---*/


.spacer-20 {
  margin-top: 20px;
}


#l-main article {
  background: white;
  padding-right: 3rem;
  margin-top: 5rem;
  box-shadow: 0 0 10px #999;
  border-radius: 5px;
}
#l-main article .date {
  text-align: center;
  font-weight: bold;
}
#l-main article .day {
  background-color: black;
  color: white;
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 0.5rem auto;
  font: normal normal bold 2.4rem/4.9rem "Verdana",sans-serif;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#l-main article .category {
  font-style: italic;
  font-family: comic sans ms, cursive;
}
#l-main article .title {
  font: normal bold 4rem Georgia, serif;
  margin-bottom: 0.4rem;
  text-shadow: 2px 3px 0px #C1C1C1;
}
#l-main article .title a {
  color: #333;
}
#l-main article hr {
  clear: both;
}
#l-main article .excerpt {
  font-size: 2rem;
  letter-spacing: 0.2px;
  font-family: Georgia;
  text-align: justify;
}
#l-main article .continue {
  margin: 0 2rem 2rem;
  float: right;
  border-radius: 5px;
}
