/*------------------------------------*\
	MAIN
\*------------------------------------*/
.color-sky-blue {
	color: #204a87;
}

.color-scarlet-red {
	color: #a40000;
}

.color-chameleon {
	color: #4e9a06;
}

.color-orange {
	color: #ce5c00;
}

.debug {
  border: solid 1px red;
}

.footer {
  background-color: #2e3436;
	color: #eeeeec;
  margin-top : 2em;
  padding-bottom : 2em;
  padding-top : 2em;
}

.footer h1 {
  font-size: 1.2em;
  font-weight: bold;
}

.footer i{
  background-color: #555753;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer a{
	color: #eeeeec;
}

.contact i{
  background-color: #eeeeec;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.team i{
  background-color: #eeeeec;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 2px;
  vertical-align: middle;
}

.team a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Linux Biolinum";
  src: url('/fonts/LinBiolinum_R.woff') format('woff');
}

@font-face {
  font-family: "Linux Biolinum";
  font-style: italic;
  src: url('/fonts/LinBiolinum_RI.woff') format('woff');
}

@font-face {
  font-family: "Linux Biolinum";
  font-weight: bold;
  src: url('/fonts/LinBiolinum_RB.woff') format('woff');
}

body {
  font-family: 'Linux Biolinum';
  font-size: 16px;
}

.text-justify {
  -moz-hyphens: auto;
  text-align: justify;
  word-wrap: break-word;
}

.big-fa {
  background-color: #eee;
  padding: 1em;
  height: 400px;
  border-radius: 6px;
}

.big-fa a {
  color: inherit;
  text-decoration: none;
}

.big-fa i {
  line-height: 200px;
  font-size: 100px;
  vertical-align: middle;
}

.big-fa:hover {
  background-color: #ccc;
}

.spacer-20 {
  margin-top: 20px;
}

.spacer-40 {
  margin-top: 40px;
}

.spacer-80 {
  margin-top: 80px;
}

#l-main article {
  background: white;
  padding-right: 3rem;
  margin-top: 5rem;
  box-shadow: 0 0 10px #999;
  border-radius: 5px;
}
#l-main article .date {
  text-align: center;
  font-weight: bold;
}
#l-main article .day {
  background-color: black;
  color: white;
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 0.5rem auto;
  font: normal normal bold 2.4rem/4.9rem "Verdana",sans-serif;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#l-main article .category {
  font-style: italic;
  font-family: comic sans ms, cursive;
}
#l-main article .title {
  font: normal bold 4rem Georgia, serif;
  margin-bottom: 0.4rem;
  text-shadow: 2px 3px 0px #C1C1C1;
}
#l-main article .title a {
  color: #333;
}
#l-main article hr {
  clear: both;
}
#l-main article .excerpt {
  font-size: 2em;
  letter-spacing: 0.2px;
  font-family: Georgia;
  text-align: justify;
}
#l-main article .continue {
  margin: 0 2rem 2rem;
  float: right;
  border-radius: 5px;
}

.icon {
  font-size: 50px;
  text-align: center;
  color: #848484;
}

.fixed-300 {
  height: 150px;
}

.formation {
  background-color: #eeeeec;
  padding: 1em;
}

.formation a {
  color: inherit;
  text-decoration: none;
}

.label-category {
  background-color: #204a87;
}

.label-level {
  background-color: #5c3566;
}

.partenaire-img {
}

.partenaire-img img {
  width: 120px;
  margin: 10px;
}
