---
layout: default
title: A Propos
permalink: /about/
description: >
    Passionnés de logiciels libres et convaincus par les méthodes de travail agiles, nous avons décidé de mettre notre passion à votre service. C'est pourquoi Azaé est uniquement composée d'experts qui conjuguent chaque jour passion et professionnalisme. En alliant le plaisir au sérieux nous sommes capables de vous fournir l'expertise adaptée à vos besoins.
---
<div class='row spacer-20'>
  <div class='col-md-12 '>
    <h1 class='color-scarlet-red'>Notre passion</h1>
  </div>
</div>
<div class='row spacer-20'>
  <div class='col-md-12 text-justify'>
    <p class="text-justify">
      Passionnés de logiciels libres et convaincus par les méthodes de travail agiles, nous avons décidé de mettre notre passion à votre service. C'est pourquoi Azaé est uniquement composée d'experts qui conjuguent chaque jour passion et professionnalisme. En alliant le plaisir au sérieux nous sommes capables de vous fournir l'expertise adaptée à vos besoins.
    </p>
    <p class="text-justify">
      Afin de toujours mieux vous servir, nous effectuons une veille globale et
      active sur l'ensemble des méthodes et outils que nous mettons en place
      chez nos clients.
    </p>
  </div>
</div>
<div class='row spacer-20'>
  <div class='col-md-12 '>
    <h1 class='color-orange'>Nos Valeurs</h1>
  </div>
</div>
<div class='row spacer-20'>
  <div class='col-md-7 text-justify'>
    <p class="text-justify">
      Respecter nos valeurs c'est avant tout agir avec la conscience d’une
      action sociétale responsable. Pour nous, produire de la valeur c'est
      respecter nos engagements dans le logiciel libre tout en assurant nos
      revenus.
    </p>
    <p class="text-justify">
      C'est pourquoi Azaé est présente au
      <a href='http://www.opensourcesummit.paris/exposant.html?eid=8212'>salon Paris OpenSource Summit</a>
      membre de
      <a href='http://www.april.org/association/personnes-morales.html'>l'April,</a>
      membre de
      <a href='http://www.polenord.info/annuaire/azae'>Pôle Nord,</a>
      membre de
      <a href='http://www.mom21.org/'>Mom21,</a>
      et de
      <a href='http://www.libre-entreprise.org/entreprises'>Libre entreprise.</a>
      Azaé est aussi référencé dans
      <a href='http://annuaire.clx.asso.fr/Azae'>l'annuaire CLX</a>
      des entreprises faisant du logiciel libre dans le Nord.
      Nous sommes aussi contributeurs sur de nombreux logiciels libres qu'ils
      soient issus de notre société ou non (<a href='https://github.com/azae'>cf. Github</a>).
      Cette implication dans les projets les plus innovants nous
      permet de toujours vous apporter la solution la plus adaptée à votre
      besoin.
    </p>
  </div>
  <div class='col-md-5'>
    {% for reference in site.data.ecosystem %}
      <div class="partner-logo">
        <a href='{{reference.link}}'>
          <img src="{{reference.logo}}" alt="Logo {{reference.name}}">
          <div class="text-center">{{reference.name}}</div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
<div class='row spacer-20'>
  <div class='col-md-12 '>
    <h1 class="color-sky-blue">L'équipe</h1>
  </div>
</div>
{% for member in site.data.team %}
  <div class='row spacer-20'>
    <div class='col-md-10'>
      <h2>
      {{member.name}}
      <span class="circled-icon">
        {% for link in member.social %}
          <a href='{{link.url}}'><i class='fa {{link.icon}}'></i></a>
        {% endfor %}
      </span>
      </h2>
      <p>{{member.bio | markdownify}}</p>
    </div>
    <div class='col-md-2'>
      <img alt="Photo {{member.name}}" class="img-responsive img-thumbnail" src="{{member.photo}}" />
    </div>
  </div>
{% endfor %}

<div class='row spacer-20'>
  <div class='col-md-12'>
    <h1 class="color-chameleon">Nos amis</h1>
    <div class="text-center">
      {% for partner in site.data.partners %}
        <div class="partner-logo">
          <a href='{{partner.link}}'>
            <img src="/assets/images/{{partner.logo}}" alt="Logo {{partner.name}}">
            <div class="text-center">{{partner.name}}</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class='row spacer-20'>
  <div class='col-md-12'>
    <h1 class="color-scarlet-red">Nos clients <small>Ils nous font confiance</small></h1>
    <div class="text-center">
      {% for customer in site.data.customers %}
        <div class="partner-logo">
          <a href='{{customer.link}}'>
            <img src="/assets/images/{{customer.logo}}" alt="Logo {{customer.name}}">
            <div class="text-center">{{customer.name}}</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
