%h1 Qui sommes nous ?
%p
  Passionné de logiciel libre, convaincu par les méthodes de travail Agiles, uniquement des experts
  Notre métier est une passion.
%p
  Soutenir le logiciel libre :  membre april, membre Pole nord, observateur Libre entreprise
%p 
  Éthique
  Veille global et active 
  Impliqué dans les projets les plus innovants.

  http://bearstech.com/societe/pourquoi-nous-choisir

