%h1 Qui sommes nous ?
%ul{ :class => "grids"}
  %li{:class => "grid-6"}
    %h2{ :class => "skyBlue" } Notre métier, une passion
    %p
      Passionnés de logiciels libres et convaincus par les méthodes de travail
      agiles, nous avons décidé de mettre notre passion à votre service. C'est
      pourquoi Azaé est uniquement composée d'experts qui conjuguent chaque jour
      passion et professionnalisme. En alliant le plaisir au sérieux nous sommes
      capables de vous fournir l'expertise la plus adaptée à vos besoins.
    %p
      Afin de toujours mieux vous servir, nous effectuons une veille globale et
      active sur l'ensemble des méthodes et outils que nous mettons en place
      chez nos clients.
  %li{:class => "grid-10"}
    %h2{ :class => "orange" } Nos valeurs,
    %p
      %a{:href=>"http://www.april.org/association/personnes-morales.html"}
        %img{:src=>"/membre-de-april-120x120.png", :style=>"float:right"}
      Respecter nos valeurs c'est avant tout agir avec la conscience d’une
      action sociétale responsable. Pour nous, produire de la valeur c'est
      respecter nos engagements dans le logiciel libre tout en assurant nos
      revenus.
    %p
      %a{:href=>"http://www.libre-entreprise.org/"}
        %img{:src=>"/libre-entreprise-120x120.png", :style=>"float:left"}
      C'est pourquoi Azaé est présente au
      %a{:href=>"http://www.solutionslinux.fr/exposant_154_2761_p.html?eid=3960"} salon solutions Linux,
      membre de 
      %a{:href=>"http://www.april.org/association/personnes-morales.html"} l'April,
      membre de Pôle Nord et de 
      %a{:href=>"http://www.libre-entreprise.org/entreprises"} Libre entreprise.

      Nous sommes aussi contributeurs sur de nombreux logiciels libres qu'ils
      soient issus de notre société ou non (
      %a{:href=>"https://gitorious.org/+azae"} cf. Gitorious
      )
      %a{:href=>"//http://www.polenord.info/"}
        %img{:src=>"/polenord-120.png", :style=>"margin-left:4px; float:right"}
      Cette implication dans les projets les plus innovants nous
      permet de toujours vous apporter la solution la plus adaptée à votre
      besoin.

