%div{:id => "contactform", :class => "grid-8"}
  %form{:id => "realcontactform", :name=>"realcontactform", :method => "post", :action => "/contact"}
    %label{:for => "message"} Votre message
    %div{:class => "textcenter"}
      %textarea{:id => "message", :name => "message", :rows => "6"}
    %br/
    %label{:for => "email"} Votre nom
    %div{:class => "textcenter"}
      %input{:id => "nom", :name => 'nom', :type=>"text"} 
    %br/
    %label{:for => "email"} Votre adresse électronique
    %div{:class => "textcenter"}
      %input{:id => "email", :name => 'email', :type=>"text"} 
    %br/
    %div{:class => "textcenter"}
      %input{:id => "submit", :name => 'submit', :value=>"Envoyer", :type=>"submit"} 
