//%h1 Contact
%p Vous avez une question, un projet, une idée, n'hésitez pas à nous contacter

%div{:id => "allcontact", :class => "grids"}
  %div{:id => "contactinfo", :class => "grid-8"}
    %a{:href => "contact.vcf"}
      %img{:src => "contact.png", :style => "float:right"}
    %h2{:class => "chameleon"} Courrier
    %p
      Azaé
      %br/
      139 rue des arts 
      %br/
      59100 Roubaix

    %h2{:class => "skyBlue"} Téléphone
    %p
      %img{:src => "icon_tel.png", :align => "center"}
      +33 3 66 72 80 22
      %br/
      %img{:src => "icon_gsm.png", :align => "center"}
      +33 6 20 81 81 30

    %h2{:class => "orange"} Email
    %img{:src => "icon_talk.png", :align => "center"}
    %img{:src => "icon_xmpp.png", :align => "center"}
    %img{:src => "icon_mail.png", :align => "center"}
    %a{:href => "mailto:contact@azae.net"}contact@azae.net

  = haml :contact_form, :layout => false
