//%h1 Devops 
%img{:src => "devops.png", :alt => "logo devops", :class => "left"}
%p Devops vient de la contraction des mots anglais "development" (développement) et "operations" (exploitation).

%p Il s'agit pour nous d'appliquer tout ou parti des recettes mise en place par les grands du web comme Google, Amazon, Yahoo dans vos sociétés.

%p La démarche s'articule autour de 4 grands axes : la culture, l'automatisation, la mesure et le partage. 

%h2{:class => "chameleon"} Culture
%p 
  L'objectif est d'avoir des personnes motivées et organisées dans une dynamique d'amélioration permanente.
  %ul 
    %li Privilégier les connaissances de chacun, les valeurs humaines pour anticiper les problèmes et stabiliser les environnements.
    %li Favoriser le Mode projet en opposition au mode pompier, afin de capitaliser sur les compétences de chacun. 
    %li Encourager l'autonomie de chacun pour gagner en productivité et en épanouissement personnel.
    %li Valoriser le travail créatif, l'excellence technique pour aider votre société à créer plus de valeur.

  Méthodes de travail, mise en place d'outils comme tableau kanban et radiateur d'informations, etc.

%h2{:class => "skyBlue"} Automatisation
%p En limitant au maximum les sources d'erreurs humaine, il est possible de valoriser les employés tout en augmentant sensiblement la stabilités et la fiabilité de vos plateforme. Supprimer la "monkey-maintenance" pour se focaliser sur ce qui rapporte de la valeur à l'entreprise.

%p Automatiser le monitoring, identifier des sondes applicatives avec une réel valeur métier et pas uniquement des indicateurs technique, centraliser dans un outils de gestion de versions tous les changements pour simplifier le suivi et appliquer le concepte d'infrastructure as a code, mettre en place de l'intégration continue capable de packager voir même de déploier automatiquement.

%p Être capable d'accepter les changements les plus fréquents : les nouveaux services apportent tous leur lot de valeur à l'entreprise. Fiabiliser les livraisons, automatiser les changements.

%h2{:class => "orange"} Mesure
%p  Collecte des indicateurs de performance technique ?  Métier ? Satisfaction client ? 

Calcul de risque ? 

Les indicateurs de performance de vos équipes aligné avec le business ? Construit avec qui et par qui ? 
Mesurer avant, après et pendant : test de charge, pouvoir identifier le plus vite possible quel est le changement qui perturbe.
%p Si l'on peut mesurer il est possible d'identifier un but pour s'améliorer. 

%h2{:class => "scarletRed"} Partage
%p  S'assurer de la collaboration entre équipes dev / prod / autre
partage d'outils (git / svn / debug / jmx/ wiki)
Partage d'info entre les équipes (information radiator)
les dev participent à la mise en prod et vive les même choses, ils apprennent des l'exploit et réciroquement

C'est la boucle de feedback, le cercle vertueux qui permet à chacun de s'améliorer pour faire grandire l'entreprise.

