%div{:id => "header", :class => "grids"}
  %div{:id => "logo", :class => "grid-8 "}
    %a{:href  => "/", 
       :title => "Retour à l'accueil"}
      %img{:src => "logo.png", 
           :alt => "Logo Azaé"}
%div{:id => "menu_haut", :class => ""}
  %ul
    %li
      %a{:href => "/contact"} Contact
    %li
      %a{:href => "/devops"} Devops
    %li
      %a{:href => "/apropos"} À propos
    %li
      %a{:href => "http://deliverous.com"} Deliverous

%div{:id => "follow", :class => "text-right"}
  %strong
    Nous suivre sur 
    %a{:href=>"http://twitter.com/azae_net"} 
      %img{:src=>"twitter.png", :alt=>"Twitter", :align => "center"}
    ou 
    %a{:href=>"https://gitorious.org/+azae"}
      %img{:src=>"gitorious.png", :alt=>"Gitorious", :align => "center"}
