%div{:id => "header", :class => "grids"}
  %div{:id => "logo", :class => "grid-8 "}
    %a{:href  => "/", 
       :title => "Retour à l'accueil"}
      %img{:src => "logo.png", 
           :alt => "Logo Azaé"}
  %div{:class => "grid-8 text-right"}
    %strong{:id=>"follow-link"} 
      Nous suivre sur 
      %a{:href=>"http://twitter.com/azae_net"} Twitter
      ou 
      %a{:href=>"https://gitorious.org/+azae"}Gitorious
