%h1 Votre partenaire Agile
%ul{ :class => "grids"}
  %li{:class => "grid-4"}
    %h2 Notre métier
    %p Vous accompagner dans votre démarche agile, vous conseiller sur vos architectures informatiques, vous aider dans le développement de vos applications, vous soutenir dans vos choix stratégique informatique, infogérer vos systèmes informatiques.
  %li{:class => "grid-4"}
    %h2{ :class => "orange" } 
      %a{:href => "/devops", :class => "orange"} Devops
    %p
      %a{:href => "/devops"}
        %img{:src => "devops.png", :alt => "logo devops", :class => "left"}
      Améliorer la collaboration dans les DSI, tirer des leçons des grands du web tel que Google ou Amazon et appliquer leurs bonnes idées dans vos sociétés
  %li{:class => "grid-8"}
    %h2{ :class => "chameleon" } Coaching et formation
    %p 
      %img{:src => "agile.jpg", :alt => "icon agile", :class => "left"}
      Scrum, Kanban, Extreme programming (XP), Lean, etc. Azaé après vous avoir formé à ces méthodes agiles vous accompagnera au jour le jour dans leur mise en oeuvre. Mise en place de toutes les bonnes pratiques agiles : usine d'intégration continue, TDD (Test Driven Development), BDD (Behavior Driven Development), programmation en binôme, construction d'indicateurs de suivi de qualité, etc.
%ul{ :class => "grids"}
  %li{:class => "grid-4"}
    %h2{ :class => "skyBlue" } Architecture
    %p 
      %img{:src => "archi.jpg", :alt => "icon agile", :class => "left"}
      Fort d'une grande expérience dans les architectures web à haute disponibilité pour des sites à très fort trafic, Azaé est à même de vous aider dans la conception applicative et technique de vos sites web, intranet et extranet
  %li{:class => "grid-4"}
    %h2{ :class => "scarletRed" } Expertise opensources
    %p 
      %img{:src => "libre.jpg", :alt => "icon agile", :class => "left"}
      L'opensource est un vivier d'applications dans lequel il est difficile de se retrouver. Notre expertise dans le domaine, notre intégration dans le réseau, notre capacité à trouver et configurer le logiciel qu'il vous faut, vous donnera l'avantage face à votre concurrence.
