!!! 5
%html{:lang => "fr", :class => "prod" }
  %head
    %title Azaé
    %link{:rel  => "stylesheet", 
          :href => "http://azae.net/inuit.css"}
    %link{:rel  => "stylesheet", 
          :href => "http://azae.net/grid.inuit.css"}
    %link{:rel  => "stylesheet", 
          :href => "http://azae.net/style.css"}
  %body{:class=>"wrapper"}
    %div
      %img{:src => "http://azae.net/logo.png", 
           :alt => "Logo Azaé"}
    %div{:id => "header", :class => "grids"}
      %div{:id => "logo", :class => "grid-8 "}
        %a{:href  => "/", 
           :title => "Retour à l'accueil"}
    = yield
    %div{:id=>"footer"}
      %p 
        Azaé, EURL au capitale de 600€ - Siren 531 735 108 - R.C.S. Roubaix-Tourcoing

