%h2 Ce que nous faisons ...
%p 
  Nous sommes expert en méthodes agiles et en 
  %a{:href=>"/devops"} devops 

%h2 Comment nous le faisons ...
%ul
  %li Domaines de compétences 
  %li Conseil et Expertise 
  %li Audit et Évaluation 
  %li Tests de charge
  %li Automatisation : 
  %ul
    %li test de charge 
    %li intégration continue
    %li puppet
    %li monitoring technique et applicatif
  %li Formations 

%p 
  %a{:href=>"/contact"}
    Contactez nous
