%h2 Ce que nous faisons ...
%p 
  Nous sommes expert en méthodes agiles et en 
  %a{:href=>"/devops"} devops 

%h2 Comment nous le faisons ...
%p
  Domaines de compétences 
  Conseil et Expertise 
  Audit et Évaluation 
  Tests de charge
  Automatisation : 
  * test de charge 
  * intégration continue
  * puppet
  * monitoring technique et applicatif
  Analyse Forensique 
  Certification ARJEL 
  Formations 

%p 
  %a{:href=>"/contact"}
    Contactez nous
