<footer class="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/img/logo_inv.png" class="img-responsive" alt="Azaé">
          <br>
          Azaé&nbsp;&copy;&nbsp;2011 - 2015.
        </div>
        <div class="col-md-4">
          <div>
            <i class="fa fa-map-marker"></i>
            139 Rue des Arts, 59100 Roubaix
          </div>
          <div>
            <i class="fa fa-phone"></i>
            +33 3 66 72 80 22
          </div>
          <div>
            <a href="mailto:contact@azae.net">
              <i class="fa fa-envelope"></i>
              contact@azae.net
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <h1>{{site.baseline}}</h1>
          Azaé est une SARL au capital de 600€ enregistré au registre du commerce et des sociétés de Lille Métropole sous le numéro :
          531&nbsp;735&nbsp;108.
          <div class="text-center">
            <a href='https://google.com/+AzaeNet'><i class="fa fa-google"></i></a>
            <a href='https://github.com/azae'><i class="fa fa-github"></i></a>
            <a href='http://twitter.com/azae_net'><i class="fa fa-twitter"></i></a>
            <a href='http://www.linkedin.com/company/aza-'><i class="fa fa-linkedin"></i></a>
            <a href='http://www.viadeo.com/fr/company/azae'><i class="fa socicon-viadeo"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
