<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id='footer'>
                <p>
                    Azaé, EURL au capital de 600€ - Siren 531 735 108 - R.C.S. Roubaix-Tourcoing
                    <br>
                    139 Rue des Arts, 59100 Roubaix - Courriel : contact@azae.net - Téléphone : +33 3 66 72 80 22 - GSM : +33 6 20 81 81 30
                    <br>
                    &copy;&nbsp;Copyright Azaé 2011. Tous droits de reproduction réservés
                </p>
            </div>
        </div>
    </div>
</footer>