<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href='/' title="Retour à l'accueil">
          <img alt='Logo Azaé' src='/img/logo.png'>
        </a>
      </div>
    </div>
    <div class="row" id='menu_haut'>
      <div class="col-md-12">
        <ul>
          <li>
            <a href='/contact/'>Contact</a>
          </li>
          <li>
            <a href='/devops/'>Devops</a>
          </li>
          <li>
            <a href='/apropos/'>À propos</a>
          </li>
          <li>
            <a href='http://deliverous.com'>Deliverous</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='text-right' id='follow'>
    <strong>
    Nous suivre sur
    <a href='http://twitter.com/azae_net'><big><big><i class="fa fa-twitter"></i></big></big></a>
    ou
    <a href='https://github.com/azae'><big><big><i class="fa fa-github"></i></big></big></a>
    </strong>
  </div>
</header>
