<header class="site-header">
  <div class='grids' id='header'>
    <div class='grid-8 ' id='logo'>
      <a href='/' title="Retour à l'accueil">
        <img alt='Logo Azaé' src='/img/logo.png'>
      </a>
    </div>
  </div>
  <div class='' id='menu_haut'>
    <ul>
      <li>
        <a href='/contact/'>Contact</a>
      </li>
      <li>
        <a href='/devops/'>Devops</a>
      </li>
      <li>
        <a href='/apropos/'>À propos</a>
      </li>
      <li>
        <a href='http://deliverous.com'>Deliverous</a>
      </li>
    </ul>
  </div>
  <div class='text-right' id='follow'>
    <strong>
      Nous suivre sur
      <a href='http://twitter.com/azae_net'><img align='center' alt='Twitter' src='/img/twitter.png'></a>
      ou
      <a href='https://github.com/azae'><img align='center' alt='Github' src='/img/gitorious.png'></a>
    </strong>
  </div>
</header>
