<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Azaé, {{site.baseline}} {% if page.title %}- {{page.title}}{%endif%}
    </title>
    {% if page.description %}
        <meta name="description" content="{{page.description | strip_newlines}}">
    {% else if page.excerpt %}
        <meta name="description" content="{{page.excerpt | strip_html  | strip_newlines}}">
    {% endif %}
    {% if page.noindex %}
        <meta name="robots" content="noindex,follow"/>
    {% endif %}
    <link rel='shortcut icon' href='/assets/images/favicon.png' type='image/png'>
    <script src='/assets/javascripts/site.js' defer></script>
    {% include assets-css.html %}
    {% include google-analytics.html %}
</head>
