---
layout: default
title: Formations
---
Toutes nos formation sont adaptable à vos besoins propre. N'hésitez pas à nous contacter.
{% for formation in site.formations %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        {% if formation.image %}
                            <img alt="illustration" src="/assets/images/formation/{{formation.image}}" width="260" />
                        {% endif %}
                    </div>
                    <div class="col-md-7">
                        <h1>{{ formation.title }}</h1>
                        <h2>Présentation</h2>
                        <p class="text-justify">{{formation.content}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 icon"><i class='fa fa-fw fa-flag-checkered'></i></div>
                    <div class="col-md-5">
                        <h2>Objectifs</h2>
                        <ul>
                            {% for objective in formation.objectives %}
                                <li>{{objective}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-1 icon"><i class='fa fa-fw fa-clock-o'></i></div>
                    <div class="col-md-5">
                        <h2>Durée</h2>
                        <p>{{formation.length}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 icon"><i class='fa fa-fw fa-check-square-o'></i></div>
                    <div class="col-md-5">
                        <h2></i>Pré-requis</h2>
                        <ul>
                            {% for prerequisite in formation.prerequisites %}
                                <li>{{prerequisite}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-1 icon"><i class='fa fa-fw fa-list-alt'></i></div>
                    <div class="col-md-5">
                        <h2>Plan</h2>
                        <ul>
                            {% for item in formation.plan %}
                                <li>{{item}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
