---
layout: default
title: Formations
---
<div class="container">
    <div class="row">
        {% assign categories = site.data.formations.categories %}
        {% assign levels = site.data.formations.levels %}
        {% for formation in site.data.formations.catalog %}
            {% assign col = forloop.index | modulo: 3 %}
            {% assign category = categories[formation.category] %}
            <div class="col-md-4">
                <div class="formation">
                    <div class="label label-technique"><i class="fa fa-{{ category.icon }}"></i> Technique</div>
                    <div class="label label-niveau1"><i class="fa fa-{{ category.icon }}"></i> Débutant</div>
                    <div class="label label-niveau2"><i class="fa fa-{{ category.icon }}"></i> Confirmé</div>
                    <div class="text-center">
                      <h1>{{ formation.title }}</h1>
                      <p>{{formation.description}}</p>
                    </div>
                </div>
            </div>
            {% if col == 0 %}
                </div>
                <div class="spacer-40"></div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>
