---
layout: default
title: Formations
---
<div class="container">
    <div class="row">
        {% assign categories = site.data.formations.categories %}
        {% assign levels = site.data.formations.levels %}
        {% for formation in site.data.formations.catalog %}
            {% assign col = forloop.index | modulo: 3 %}
            {% assign category = categories[formation.category] %}
            {% assign level = levels[formation.level] %}
            <div class="col-md-4">
                <div class="formation">
                    <div class="label label-category"><i class="fa fa-{{ category.icon }}"></i> {{ category.label }}</div>
                    <div class="label {{ level.class }}"><i class="fa fa-{{ level.icon }}"></i> {{ level.label }}</div>
                    <div class="text-center">
                      <h1>{{ formation.title }}</h1>
                      <p>{{formation.description}}</p>
                    </div>
                </div>
            </div>
            {% if col == 0 %}
                </div>
                <div class="spacer-40"></div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>
