---
layout: services
title: Formations
permalink: /services/training/
---

<div class="row">
    <div class="col-md-12 jumbotron">
        <p>Nous pouvons réaliser n’importe quelle formation autour des domaines suivants</p>
        <ul>
            <li>Les méthodes agiles (Scrum, Kanban, eXtrem Programming, Lean, etc.)</li>
            <li>Devops</li>
            <li>Software caftmanship (Test Driven Development (TDD), Behavior Driven Development (BDD), refactoring, clean code, etc.)</li>
            <li>Technique (Docker, Java, Go, Puppet, Python)</li>
            <li>L’intelligence collective</li>
            <li>Lean startup</li>
        </ul>

    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Nos formations déjà réalisées</h2>
  </div>
</div>
<div class="row">
    {% assign tags = site.data.formations.tags %}
    {% for training in site.data.formations.catalog %}
        {% assign col = forloop.index | modulo: 3 %}
        <div class="col-md-4">
            <div class="training">
                <div class="text-center ">
                    <h3>{{ training.title }}</h3>
                    <p>{{training.description}}</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-primary" href="mailto:{{site.contact.email}}">Contactez-nous</a>
                </div>
            </div>
        </div>
        {% if col == 0 %}
            </div>
            <div class="row spacer-20">
        {% endif %}
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-12">
        <p>Toutes nos formations sont adaptables à vos besoins propres. N’hésitez pas à nous contacter.</p>

        <p><i>Déclaration d’activité de formation enregistrée sous le numéro 31&nbsp;59&nbsp;08320&nbsp;59 auprès du préfet de région de Nord-Pas de Calais.</i></p>
    </div>
</div>

