---
layout: default
---
<div class="post">
    <div class="page-header">
        <div class="row">
            {% if page.illustration %}
            <div class="col-md-2">
                <img alt='{{ page.title }} illustration' src='{{page.illustration}}' height="150">
            </div>
            {% endif %}
            <div class="col-md-10">
                <h1 class="post-title">{{ page.title }} <small>{{ page.subtitle }}</small></h1>
                <p class="post-meta">
                    <i class='fa fa-calendar'></i> {{ page.date | date: "%b %-d, %Y" }}
                </p>
                {% if page.author %}
                    <p class="post-meta">
                        <i class='fa fa-user'></i> {{ page.author }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    {{ content }}
</div>
