---
layout: default
---
<div class="post">
    <div class="row">
        <div class="page-header">
            {% if page.illustration %}
            <div class="col-md-2">
                <img alt='{{ page.title }} illustration' src='{{page.illustration}}' height="150">
            </div>
            {% endif %}
            <div class="col-md-10">
                <h1 class="post-title">{{ page.title }} <small>{{ page.subtitle }}</small></h1>
                {% if page.tags.size > 0 %}
                    <p >
                        <i class="fa fa-tags"></i>
                        {% for tag in page.tags %}
                            <span class="label label-default">{{tag}}</span>
                        {% endfor %}
                    </p>
                {% endif %}
                <p class="post-meta">
                    <i class='fa fa-calendar'></i> {{ page.date | date: "%b %-d, %Y" }}
                </p>
                {% for author in page.authors %}
                    <p class="post-meta">
                        <i class='fa fa-user'></i> {{ author }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ content }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <a class="btn btn-default" href="https://github.com/azae/azae.net/edit/master/{{ page.path}} ">Éditer</a>
      </div>
    </div>

</div>
