---
layout: default
---
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"http://azae.net/{{ page.url }}"
  },
  "headline": "{{ page.title }}",
  "image": {
    "@type": "ImageObject",
    "url": "http://azae.net/{{page.illustration}}",
    "width": 400,
    "height" 400;
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "author": [
    {% for author in page.authors %}
      {"@type": "Person", "name": "{{ author }}"}
    {% endfor %}
  ],
  "publisher": {
    "@type": "Organization",
    "name": "Azaé",
    "logo": {
      "@type": "ImageObject",
      "url": "http://azae.net/assets/images/logo-azae.png",
      "width": 400,
      "height": 174
    }
  },
  {% if page.description %}
      "description": "{{page.description | strip_newlines}}"
  {% else if page.excerpt %}
      "description": "{{page.excerpt | strip_html  | strip_newlines}}"
  {% endif %}
}
</script>

<div class="post">
    <div class="row">
        <div class="page-header">
            {% if page.illustration %}
            <div class="col-md-2">
                <img alt='{{ page.title }} illustration' src='{{page.illustration}}' height="150">
            </div>
            {% endif %}
            <div class="col-md-10">
                <h1 class="post-title">
                    {{ page.title }}
                    <small>{{ page.subtitle }}</small>
                </h1>
                {% if page.tags.size > 0 %}
                    <p >
                        <i class="fa fa-tags"></i>
                        {% for tag in page.tags %}
                            <span class="label label-default">{{tag}}</span>
                        {% endfor %}
                    </p>
                {% endif %}
                <p class="post-meta">
                  <i class='fa fa-calendar'></i> {{ page.date | date: "%b %-d, %Y" }}

                </p>
                <p class="post-meta">
                  <i class='fa fa-user'></i> {{ page.authors | join: ", " }}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ content }}
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        {% if page.contributors.size > 0 %}
        Contributeurs: <i>{{ page.contributors | join: ', ' }}</i>
        {% endif %}
      </div>
      <div class="col-md-2 text-right">
        <a class="btn btn-default" href="https://github.com/azae/azae.net/edit/master/{{ page.path}} "><i class="fa fa-pencil"></i> Contribuez</a>
      </div>
    </div>

</div>
