<!DOCTYPE html>
<html class='prod' lang='fr'>
  <head>
    <title>
      Azaé - Spécialiste devops
    </title>
    <meta charset="UTF-8">
    <link href='iimg/favicon.png' rel='shortcut icon' type='image/png'>
    <link href='css/inuit.css' rel='stylesheet'>
    <link href='css/grid.inuit.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
    <script src='js/jquery-1.8.0.js'></script>
    <meta content='Azaé, votre partenaire devops' name='description'>
    <meta content="Devops, Agile, Scrum, Formation, Linux, Opensource, Puppet, Chef, Architecture web, Cloud, Lille, Roubaix, Tourcoing, Villeneuve d'ascq" name='keywords'>
    <meta content='Thomas Clavier' name='author'>
    <script>
    //<![CDATA[
    var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30170124-1']);
        _gaq.push(['_setDomainName', 'azae.net']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    //]]>
    </script>
  </head>
  <body class='wrapper'>
    {% include header.html %}
    {{ content }}
  </body>
</html>

