<!DOCTYPE html>
<html class='prod' lang='fr'>
  <head>
    <title>
      Azaé - Catalyseur d'agilité
    </title>
    <meta charset="UTF-8">

    <link rel='shortcut icon' href='/assets/images/favicon.png' type='image/png'>
    <link rel='stylesheet' href='/assets/stylesheets/bootstrap-3.3.5.min.css'>
    <link rel='stylesheet' href='/assets/stylesheets/font-awesome-4.4.0.min.css'>
    <link rel='stylesheet' href='/assets/stylesheets/socicon.css'>
    <link rel='stylesheet' href='/assets/stylesheets/style.css'>
    <script src='/assets/javascripts/jquery-2.1.4.min.js' async="true"></script>
    <script src='/assets/javascripts/bootstrap-3.3.5.min.js' async="true"></script>
    <meta content="Azaé, {{site.baseline}}" name="description">
    <meta content="Devops, Agile, Scrum, Formation, Linux, Opensource, Puppet, Chef, Architecture web, Cloud, Lille, Roubaix, Tourcoing, Villeneuve d'ascq" name='keywords'>
    <meta content="Thomas Clavier" name='author'>
    <meta content="Olivier Albiez" name='author'>
    <script>
    //<![CDATA[
    var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30170124-1']);
        _gaq.push(['_setDomainName', 'azae.net']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    //]]>
    </script>
  </head>
  <body class='wrapper'>
    {% include header.html %}
    <div class="container">
    {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>

