<!DOCTYPE html>
<html class='prod' lang='fr'>
  <head>
    <title>
      Azaé - Spécialiste devops
    </title>
    <meta charset="UTF-8">

    <link href='/img/favicon.png' rel='shortcut icon' type='image/png'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link href='/css/style.css' rel='stylesheet'>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <meta content='Azaé, votre partenaire devops' name='description'>
    <meta content="Devops, Agile, Scrum, Formation, Linux, Opensource, Puppet, Chef, Architecture web, Cloud, Lille, Roubaix, Tourcoing, Villeneuve d'ascq" name='keywords'>
    <meta content='Thomas Clavier' name='author'>
    <script>
    //<![CDATA[
    var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30170124-1']);
        _gaq.push(['_setDomainName', 'azae.net']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    //]]>
    </script>
  </head>
  <body class='wrapper'>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>

